html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 15px;
  font-family: monospace;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  color: black;
}

.body_container {
  padding: 0px 50px 50px 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

#title {
  text-decoration: underline;
}

span {
  font-weight: bold
}

ul {
  list-style: none;
  line-height: 22px;
}

#contact_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-right: 100px;
  margin-top: 100px;
}

#contact_info a {
  color: black;
  font-size: 18px;
  padding-right: 20px;
  opacity: 0.8;
}

/* https://teamtreehouse.com/library/css-flexbox-layout/building-a-layout-with-flexbox/creating-a-sticky-footer-with-flexbox */
#sticky_footer {
  margin-top: auto;
  padding-bottom: 5px;
  font-style: italic;
  text-align: center;
  font-size: 11px;
}



/* ========================================================================== */
/*                MOBILE FRIENDLY VERSION OF PAGE
  obtained at sub-640px screen size
*/

@media only screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {

  .body_container {
    padding-left: 20px;
  }

}
