html, body {
  background-color: white;
  /*http://stackoverflow.com/questions/1719452/how-to-make-a-div-always-full-screen*/
  height: 100%;
  margin: 0;
}
.main_heading {
  text-align: center;
  min-height: 100%;
  background-color: black;
  color: white;
  font-variant: small-caps;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 200;
  /*http://stackoverflow.com/questions/16056591/font-scaling-based-on-width-of-container*/
  font-size: 15em;
  font-size: 20vw;
  margin: 0px;
  border-top-style: solid;
  border-top-width: medium;
  border-top-color: white;
  padding: 10px;
  padding-top: 50px;
}

p {
  color: black;
  font-family: "HelveticaNeue-Light","Helvetica","Lucida Grande", "Arial", sans-serif;
  line-height: 1.5em;
  margin-left: 20px;
  margin-right:7px;
  width: 65%;
}

#footer_div {
  border-top-color: white;
  border-top-width: thick;
  border-top-style: dashed;
  font-family: Cambria, Georgia, serif;
  background-color: black;
  width: 100%;
  margin-top: 30px;
}

#footer {
  font-family: Georgia, Serif;
  background-color: black;
  line-height: 1.5em;
  text-align: center;
  font-size: 1.0em;
  color: white;
  width: 100%;
  padding: 20px;
}

#text_info {
  clear: left;
  padding: 3px;
}
#academic_interests_list {
  padding: 4px;
  font-family: "HelveticaNeue-Light","Helvetica","Lucida Grande", "Arial", sans-serif;
  line-height: 1.5em;
  overflow: hidden;
  list-style-position:inside;
}

.blue {
  color: #00CCFF;
}

.sub_headings {
  font-family: "HelveticaNeue-Light","Helvetica","Lucida Grande", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: lighter;
  border-bottom-style: solid;
  border-bottom-color: lightslategrey;
  border-bottom-width: thin;
  padding: 7px;
  margin-left: 7px;
  padding-left: 30px;
  clear: left;
}

.text_style {
  color: black;
  font-family: "HelveticaNeue-Light","Helvetica","Lucida Grande", "Arial", sans-serif;
  line-height: 1.5em;
}

/*http://stackoverflow.com/questions/15685666/changing-image-sizes-proportionally-using-css*/
.personal_img_container {
  width: 200px;
  height: 120px;
}

.personal_img_container img {
  width: 100%;
  height: auto;
  float: left;
  margin-left:5px;
  margin-top:10px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.personal_img_small_container {
  height:48px;
  width: auto;
}

.personal_img_small_container img {
  height:100%;
  width: auto;
}

.bio_text {
  float: right;
}

/*http://www.w3schools.com/css/css_navbar.asp*/

#nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
.nav_bar_items {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  float: left;
  font-variant: small-caps;
}

.nav_bar_items a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav_bar_items a:hover {
  background-color: #505050;
}

.active {
  background-color: #4CAF50;
}
