html, body {
  background-color: white;
  height: 100%;
  margin: 0;
}
/* Making the main heading (i.e. "Ahsan Azim") full screen
   was achieved by adapting code from the following
   link:
   http://stackoverflow.com/questions/1719452/how-to-make-a-div-always-full-screen
*/
/* figuring out how to make font scale with width:
   http://stackoverflow.com/questions/16056591/font-scaling-based-on-width-of-container
*/

.main_heading {
  text-align: center;
  min-height: 100%;
  background-color: white;
  color: #18121E;
  font-variant: normal;
  font-family: 'Source Code Pro';
  font-weight: 80;
  font-size: 15em;
  font-size: 18vw;
  margin: 0px;
  border-top-style: solid;
  border-top-width: medium;
  border-top-color: white;
  padding: 10px;
  padding-top: 50px;
}
p {
  color: black;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  margin-left: 20px;
  margin-right:7px;
  width: 65%;
}
#footer_div {
  background-color: black;
  width: 100%;
  margin-top: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#footer {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  line-height: 1em;
  text-align: center;
  font-size: 1.0em;
  color: white;
  width: 100%;
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
#text_info {
  clear: left;
  padding: 3px;
}
#academic_interests_list {
  padding: 4px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  overflow: hidden;
  list-style-position:inside;
}
.blue {
  color: #00CCFF;
}
.sub_headings {
  font-family: "HelveticaNeue-Light","Helvetica","Lucida Grande", "Arial", sans-serif;
  background-color: white;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: lighter;
  border-bottom-style: solid;
  border-bottom-color: lightslategrey;
  border-bottom-width: thin;
  padding: 7px;
  margin-left: 7px;
  padding-left: 30px;
  clear: left;
  color: black;
}
.text_style {
  color: black;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}

.bio_sec {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.personal_img_container {
  width: 100%;
  height: auto;
  margin-left: 30px;
}
.personal_img_container img {
  width: 100%;
  height: auto;
  margin-left:5px;
  margin-top:10px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.personal_img_small_container {
  height:41px;
  width: auto;
}
.personal_img_small_container img {
  height:100%;
  width: auto;
}

#personal_pic {
  height: 350px;
  width: auto;
  margin-left: 30px;
}

.bio_text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 700px;
}

#bio {
  width: 100%
}

/* Note that the techniques and much of the code
 for the navigation bar was adapted, and in some
 cases copied, from the following link:
  http://www.w3schools.com/css/css_navbar.asp
*/
#nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #18121E;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
.nav_bar_items {
  font-family: 'Roboto', sans-serif;
  float: left;
  font-variant: normal;
}
.nav_bar_items a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-bottom: 10px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.nav_bar_items a:hover {
  background-color: #505050;
}

#home {
  min-width: 100%;
}

i {
  color: white;
}
